:root {
  --pink: 200, 25, 255;
  --purple: 100, 0, 255;
  --darkBlue: 0, 50, 100;
  --turquoise: 50, 255, 255;
  --white: 255, 255, 255;
  --gray: 128, 128, 128;
  --darkGray: 64, 64, 64;
  --black: 0, 0, 0;
}

.color_preview {
  color: rgb(200, 25, 255);
  color: rgb(100, 0, 255);
  color: rgb(0, 50, 100);
  color: rgb(50, 255, 255);
  color: rgb(255, 255, 255);
  color: rgb(128, 128, 128);
  color: rgb(64, 64, 64);
  color: rgb(0, 0, 0);
}

body {
  transition: all 1s ease-in-out;
  overflow: hidden;
}

.DarkBody {
  background-color: rgb(var(--black));
}

/* Global Classes */
.HiddenContent {
  display: none;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
}

.VanishedContent {
  opacity: 0;
  pointer-events: none;
  z-index: -100;
}

.CenterContent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CenterObject {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Menu */
.MenuPoster {
  position: absolute;
  width: inherit;
  height: inherit;
}
.MenuPoster canvas {
  position: absolute;
  width: inherit;
  height: inherit;
  background: radial-gradient(circle farthest-corner at center center, rgba(var(--black), 0) 35%, rgb(var(--turquoise)) 36%, rgba(var(--black), 0.5) 38%, rgb(var(--turquoise)) 40%, rgba(var(--black), 0) 40%, rgb(var(--white)) 55%, rgb(var(--turquoise)) 55%, rgb(var(--turquoise)) 57%, rgba(var(--black), 0.5) 75%, rgb(var(--black)) 100%);
}
.MenuPoster .PosterCaption {
  color: rgb(var(--turquoise));
  text-shadow: -1px 0px 1px rgba(var(--turquoise), 0.5), 1px 0px 1px rgba(var(--pink), 0.9), 0px -1px 1px rgba(var(--turquoise), 0.5), 0px 1px 1px rgba(var(--pink), 0.9);
  animation: Menu_loading_M 10s ease-in-out infinite;
  font-size: 40px;
}

.BiggerPosterCanvas {
  background: radial-gradient(circle farthest-corner at center center, rgba(var(--black), 0) 35%, rgb(var(--turquoise)) 36%, rgba(var(--black), 0.5) 38%, rgb(var(--turquoise)) 40%, rgba(var(--black), 0) 40%, rgb(var(--white)) 85%, rgb(var(--turquoise)) 85%, rgba(var(--black), 0.25) 100%) !important;
}

/* Game tooltip */
.TooltipWrapper {
  position: absolute;
  width: 120px;
  height: 40px;
  border-radius: 12px;
  border: rgba(var(--white));
  background-color: rgba(var(--white));
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.TooltipWrapper .GameTooltip {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: aqua;
  border: rgb(var(--turquoise)) 2px solid;
  background: linear-gradient(-3deg, rgb(var(--gray)), rgb(var(--darkGray)), rgb(var(--white)));
  overflow: hidden;
  box-shadow: -2px -1px 15px 0px rgb(var(--white)), 2px 1px 15px 0px rgb(var(--pink)), 1px 2px 15px 0px rgb(var(--pink)), -1px -2px 15px 0px rgb(var(--white));
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
  background-clip: padding-box;
}
.TooltipWrapper span {
  pointer-events: none;
  position: absolute;
  width: 120px;
  height: 40px;
  font-size: 16px;
  top: -0.5px;
  rotate: -3deg;
  color: rgb(var(--pink));
  text-shadow: 1px 1px 0px rgb(var(--white)), 2px 2px 0px rgb(var(--pink));
  transition: font-size 0.25s ease-in-out;
}

.TooltipWrapper:hover .GameTooltip {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: -2px -1px 15px 0px rgb(var(--white)), 0px 2px 15px 0px rgb(var(--pink));
}
.TooltipWrapper:hover span {
  font-size: 21px;
}

.TooltipWrapper:focus:not(:active) .GameTooltip {
  animation: TooltipClick 1s alternate;
}
.TooltipWrapper:focus:not(:active) .GameTooltip::after {
  animation: TooltipClick_After 1s alternate;
}
.TooltipWrapper:focus:not(:active) span {
  animation: TooltipClick_Span 1s alternate;
}

.GameTooltip::after {
  content: "";
  position: absolute;
  left: 32%;
  top: -125%;
  rotate: 87deg;
  width: 40%;
  height: 375%;
  background: linear-gradient(90deg, rgba(var(--pink), 0), rgba(var(--darkBlue), 0.2), rgba(var(--turquoise), 0.6), rgb(var(--white)), rgba(var(--turquoise), 0.8), rgb(var(--gray)));
}

.GameMenu {
  position: absolute;
  height: 90px;
  width: 90px;
  top: 20px;
  left: 20px;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
}

.OpenMenu {
  height: 500px;
  width: 300px;
}

/*Rotating menu background*/
.GameMenu::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: linear-gradient(90deg, rgba(var(--black)), rgb(var(--pink)), rgba(var(--white), 0.5), rgb(var(--pink)), rgb(var(--pink)));
}

.GameMenu.MenuBefore::before {
  animation: rotateLeft 10s ease-in-out infinite;
}

.GameMenu::after {
  content: "";
  position: absolute;
  inset: -2px;
  padding: 5px;
  border-radius: 18px;
  background: linear-gradient(45deg, rgb(var(--white)), rgb(var(--darkBlue)), rgb(var(--pink)), rgb(var(--turquoise)), rgb(var(--pink)), rgb(var(--darkBlue)), rgb(var(--white)));
  background-size: 200% 100%;
  -webkit-mask: linear-gradient(rgb(var(--white)) 0 0) content-box, linear-gradient(rgb(var(--white)) 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(rgb(var(--white)) 0 0) content-box, linear-gradient(rgb(var(--white)) 0 0);
  mask-composite: exclude;
  pointer-events: none;
}

.GameMenu.MenuAfter::after {
  animation: moveGradient 4s linear infinite;
}

.MenuContent {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}
.MenuContent .MenuHead {
  position: relative;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 10px;
  font-size: 80px;
  letter-spacing: 30px;
  background: -moz-linear-gradient(to top, rgb(var(--turquoise)) 15%, rgb(var(--pink)) 20%, rgb(var(--pink)) 39%, rgb(var(--turquoise)) 47%, rgb(var(--turquoise)) 64%, rgb(var(--pink)) 74%, rgb(var(--pink)) 86%, rgb(var(--turquoise)) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px rgb(var(--white));
}
.MenuContent .MenuButtons {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 35px;
  margin-right: 10px;
}
.MenuContent .MenuButtons .MenuButton {
  position: relative;
  width: 175px;
  height: 50px;
  background: radial-gradient(circle at center, rgba(var(--turquoise), 0.6) 15%, rgb(var(--darkBlue)) 100%);
  border: 1.75px rgba(var(--turquoise), 0.75) solid;
  transition: 0.125s all ease-in-out;
  border-radius: 10px;
  cursor: pointer;
}
.MenuContent .MenuButtons .MenuButton span {
  position: absolute;
  width: inherit;
  font-size: 20px;
  background: linear-gradient(0deg, rgb(var(--white)), rgb(var(--pink)), rgba(var(--darkBlue), 0.75), rgb(var(--turquoise)), rgb(var(--white)), rgb(var(--turquoise)));
  background-size: 100% 125%;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.125s ease-in-out;
}
.MenuContent .MenuButtons .MenuButton canvas {
  position: absolute;
  width: 125px;
  height: 3px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background: linear-gradient(90deg, rgb(var(--turquoise)), rgba(var(--purple), 0.75), rgb(var(--pink)));
  background-color: rgb(var(--turquoise));
  border-radius: inherit;
  transition: 0.5s all ease-in-out;
  opacity: 0.75;
}

.MenuButton:hover {
  border: 1.5px rgba(var(--turquoise), 0.25) solid;
  transform: scale(1.1);
  font-size: 125%;
  box-shadow: 5px 5px 15px rgba(var(--pink), 0.4);
}
.MenuButton:hover span {
  background-position: 0% 115%;
}
.MenuButton:hover canvas {
  width: 130%;
  opacity: 0.5;
}

.MenuButton:focus:not(:active) {
  animation: click-glow 0.75s ease;
  color: rgb(var(--white));
  border: 1.5px rgba(var(--white), 0.75) solid;
}
.MenuButton:focus:not(:active) canvas {
  background: linear-gradient(-90deg, rgb(var(--turquoise)), rgba(var(--purple), 0.75), rgb(var(--pink)));
  width: 120px;
}

/* Backgound star particles */
.Particle {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0.5;
  z-index: 10;
}

.JumpParticle {
  position: absolute;
  border: rgb(var(--turquoise)) 3px solid;
  border-radius: 50%;
  transform-style: preserve-3d;
  transform: rotateX(70deg);
  animation: jumpParticle 0.75s ease-in forwards;
}

/* .JumpParticle::after {
  position: absolute;
  height: 100px; 
  width: 100px;
  background-color: black;
  left: 30%;
  border-radius: 50%; 
} */
/* Universal colors for button settings*/
.ToggleActiveColor {
  background-color: rgba(var(--white), 0.7) !important;
}

.HilightetElement {
  outline: rgb(var(--pink)) 2px dashed;
  border-radius: 10%;
  animation: Blink 1s infinite;
}

.MenuSettings {
  overflow-x: auto;
  top: 39.25%;
  left: 55%;
  transform: translate(-50%, -12%);
  position: absolute;
  height: 25%;
  width: 55%;
  border: rgba(var(--turquoise), 0.75) 2px solid;
  border-radius: 12px;
  background: radial-gradient(circle at 100%, rgba(var(--black), 0.5) 10%, rgba(var(--pink), 0.6) 50%, rgba(var(--white), 0.9) 65%, rgba(var(--black), 0.6) 66%, rgba(var(--purple), 0.5) 80%);
  transition: all 0.25s ease-in-out;
  display: flex;
  gap: 60px;
  justify-content: flex-start;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding-left: 40px;
  padding-right: 40px;
}
.MenuSettings .Settings_Category {
  cursor: pointer;
  position: relative;
  flex: 0 0 170px;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid rgb(var(--turquoise));
  box-shadow: rgb(var(--turquoise)) 0px 0px 8px;
  background-color: rgba(var(--gray), 0.75);
  font-size: 18px;
  font-weight: bold;
  color: rgb(var(--white));
  text-shadow: rgb(var(--purple)) 2px 2px 3px;
  transition: all 0.3s ease-in-out;
}

.Settings_Category:hover {
  transform: scale(1.1);
  box-shadow: rgb(var(--white)) 0px 0px 15px;
  color: rgb(var(--purple));
  text-shadow: rgb(var(--white)) -2px -2px 2px;
}

.Settings_Category:focus:not(:active) {
  animation: click-glow 0.75s ease;
}

/* Size adjustment for Key display */
.ToggleMenuSettings {
  transform: translate(-50%, -50%) scale(0.8);
  height: 45%;
  width: 65%;
}

.Toggle_KA {
  position: relative;
  border-radius: 4px;
  border: 2px solid rgb(var(--turquoise));
  box-shadow: rgb(var(--turquoise)) 0px 0px 8px;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  color: rgb(var(--white));
  text-shadow: rgb(var(--purple)) 2px 2px 3px;
  transition: all 0.2s ease-in-out;
  display: grid;
  gap: 10px;
  padding: 6px 8px 12px 8px;
}

.KA_Category {
  height: 25px;
  width: auto;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid rgba(var(--turquoise), 0.75);
  box-shadow: rgba(var(--turquoise), 0.75) 0px 0px 5px;
  background-color: rgba(var(--gray), 0.7);
  color: rgb(var(--white));
  padding: 4px 8px 4px 8px;
  transition: all 0.2s ease-in-out;
  gap: 5px;
}

/* Star background */
.star {
  position: fixed;
  pointer-events: none;
  background-color: rgb(var(--white));
  border-radius: 50%;
  z-index: -100;
  animation: glow 2.5s infinite;
}

.gameWrapper {
  position: absolute;
  z-index: -100;
  /* Game Box for the main game area */
}
.gameWrapper .gameBox {
  position: absolute;
  image-rendering: pixelated;
  outline: rgb(var(--pink)) 2px solid;
  display: block;
  /* zoom: 1; */
}
.gameWrapper .gameVideo {
  position: absolute;
  image-rendering: pixelated;
  /* Ai improvement */
  object-fit: contain;
  backface-visibility: hidden;
  transform: translateZ(0);
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
}

/* Game Over display */
.GameOverBoard {
  position: absolute;
  font-size: 6vw;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
  background: linear-gradient(270deg, rgb(var(--black)), red, rgb(var(--pink)), red, rgb(var(--black)), rgb(var(--black)));
  background-size: 600% 600%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(12.5deg);
}

/* Game Info display */
.GameInfo {
  position: absolute;
  bottom: 3%;
  width: 150px;
  height: 120px;
  right: 1.5%;
  outline: rgb(var(--turquoise)) 2px solid;
  transition: all 1s ease-in-out;
  container-type: inline-size;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 2fr 2fr 2fr;
  gap: 10px;
  padding: 10px;
  /* background-color: rgba(var(--gray), 0.125); */
}
.GameInfo div {
  position: relative;
  color: rgb(var(--turquoise));
  text-shadow: 1px 1px 0px rgba(var(--darkBlue), 0.5);
  font-size: 12cqw;
  background-color: rgba(var(--white), 0.75);
  /* outline: rgba(var(--turquoise), 0.5) 1.5px solid; */
  box-shadow: 1px 1px 0px 0px rgba(var(--gray), 0.375), 2px 2px 0px 0px rgba(var(--gray), 0.375), 3px 3px 0px 0px rgba(var(--gray), 0.375), 4px 4px 0px 0px rgba(var(--gray), 0.375);
}
.GameInfo span {
  position: relative;
  outline: rgba(var(--turquoise), 0.75) 1.5px solid;
  background-color: rgb(var(--gray));
  border-radius: 15px;
}
.GameInfo span h5 {
  position: absolute;
  color: rgba(var(--turquoise), 0.8);
  text-shadow: 1px 1px 0px rgba(var(--darkBlue), 0.6);
  font-size: 11cqw;
}
.GameInfo span::after {
  content: "";
  position: absolute;
  width: 100.5%;
  height: 113%;
  bottom: -12%;
  border-radius: inherit;
  outline: rgba(var(--turquoise), 0.75) 1.25px solid;
  background-color: rgb(var(--gray));
  z-index: -2;
}
.GameInfo span::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  box-shadow: inset -2px 2px 0px 0px rgba(var(--black), 0.5);
  border-radius: inherit;
  outline: rgba(var(--darkBlue), 0.75) 1.25px solid;
  background-color: rgb(var(--white));
}

.GameInfo::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: radial-gradient(circle farthest-corner at center center, rgb(var(--gray)) 20%, rgb(var(--white)) 59%, rgb(var(--pink)) 60%, rgb(var(--gray)) 61%, rgb(var(--darkGray)) 100%);
  z-index: -3;
}

.GameInfoFade {
  transform: translateX(75%);
}

.StartAnimationBox {
  position: absolute;
  transform-style: preserve-3d;
  animation: RotateNumbers 1.5s infinite;
  perspective: 1000px;
}

.StartAnimationText {
  position: absolute;
  font-size: 25vh;
  color: rgb(var(--pink));
}

footer {
  position: absolute;
  width: 100%;
  height: 50px;
  background: rgba(var(--darkBlue), 0.5);
  bottom: 0px;
  left: 0px;
  -webkit-user-select: none;
  user-select: none;
}
footer .MuteSymbolWrapper {
  position: absolute;
  left: 5px;
  top: 4px;
}
footer .MuteSymbolWrapper .MuteSymbol {
  width: 45px;
  height: 45px;
  image-rendering: pixelated;
  transition: filter 0.125s ease-in-out;
  cursor: pointer;
}
footer .MuteSymbolWrapper .MuteSymbol:hover {
  filter: drop-shadow(0px 3px 2px rgb(var(--turquoise))) drop-shadow(0px 0px 1px rgba(var(--darkBlue), 0.75));
}
footer .FootContetWrapper p {
  width: 90%;
  position: relative;
  font-size: 10px;
  letter-spacing: 4px;
  color: rgba(var(--turquoise), 0.75);
  text-shadow: 1px 0px 0px rgba(var(--pink), 0.75);
}
footer .FootContetWrapper a {
  position: relative;
  font-size: 8px;
  letter-spacing: 2px;
  color: rgba(var(--purple), 0.75);
  text-shadow: 1px 0px 1px rgba(var(--pink), 0.75);
  transition: all 0.25s ease-in-out;
}
footer .FootContetWrapper a:hover {
  color: rgba(var(--white), 0.75);
  text-shadow: 1px 0px 1px rgba(var(--turquoise), 0.75);
  font-size: 9px;
}

body.DarkBody .MuteSymbol:hover {
  cursor: pointer;
  filter: drop-shadow(0px 1px 2px rgba(var(--white), 0.75)) drop-shadow(0px 2px 2px rgba(var(--turquoise), 0.5));
}
