.MuteSymbol {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    image-rendering: pixelated;
    transition: filter 0.125s ease-in-out;
}

.MuteSymbol:hover {
    cursor: pointer;
    filter: drop-shadow(0px 3px 2px rgb(var(--turquoise))) drop-shadow(0px 0px 1px rgba(var(--darkBlue), 0.75));
}

body.DarkBody .MuteSymbol:hover {
    cursor: pointer;
    filter: drop-shadow(0px 1px 2px rgba(var(--white), 0.75)) drop-shadow(0px 2px 2px rgba(var(--turquoise), 0.5));
}